* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(128, 128, 128, 0.233);
    font-family: 'poppins', sans-serif;
    margin: 50px;
}

.flex {
    display: flex;
}

header {
    font-size: 1rem;
    width: 100%;
    height: 3rem;
    padding: 10px;
    padding-right: 20px;
    background-color: rgb(247, 241, 241, 0.425);
    margin-top: 30px;
    margin-bottom: 5px;
    justify-content: space-between;
}

main {
    background-color: #fff;
    padding: 30px;
}

form {
    align-items: center;
    text-align: center;
    min-height: 9vh;
    justify-content: center;
    background-color: rgb(247, 241, 241, 0.425);
    width: 100%;
    padding-right: 20px;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    outline: none;
}

.todo-input {
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 10px;
    border: none;
    background-color: rgba(247, 241, 241, 0.123);
    margin-top: 5px;
}

.todo-button {
    height: 50px;
    width: 2%;
    margin: 0;
    align-items: center;
    border: none;
    background-color: rgb(247, 241, 241, 0.425);
    color: darkgrey;
}

input::placeholder {
    color: #4343432d;
    font-size: 1.3rem;
    font-style: italic;
}

div i {
    color: rgba(73, 73, 73, 0.404);
    cursor: crosshair;
}

form button i {
    font-size: 1rem;
}

.fa-level-down-alt {
    transform: rotate(90deg);
}

.todo-list {
    min-width: 100%;
    list-style: none;
}

.todo {
    margin: 0.2rem;
    padding-right: 20px;
    background-color: rgb(247, 241, 241, 0.425);
    color: black;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.checkbox {
    margin: 10px;
    width: 2rem;
    align-items: center;
    text-align: center;
}

.checkbox input {
    cursor: pointer;
}

.description {
    width: 100%;
}

.footer {
    background-color: rgb(206, 202, 202);
    text-align: center;
    min-height: 10vh;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.completed-todo {
    text-decoration: line-through;
}